# Java Ignores
/trip-service-kata/target
/trip-service-kata/.classpath
/trip-service-kata/.project
/trip-service-kata/.settings
/trip-service-kata/tomcat.*
/trip-service-kata/.idea
/trip-service-kata/*.iml

# IntelliJ IDEA
.idea/
.idea_modules
out/
*.iml
**/.idea

#Xcode / Objective-c Ignores

.DS_Store

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
